
@font-face {
  font-family: 'Metropolis-Medium';
  src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Metropolis-Medium.otf')  format('opentype'),
  url('../fonts/Metropolis-Medium.woff') format('woff'),
  url('../fonts/Metropolis-Medium.ttf')  format('truetype'),
  url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Metropolis-Bold';
  src: url('../fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Metropolis-Bold.otf')  format('opentype'),
  url('../fonts/Metropolis-Bold.woff') format('woff'),
  url('../fonts/Metropolis-Bold.ttf')  format('truetype'),
  url('../fonts/Metropolis-Bold.svg#Metropolis-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'Metropolis-Light';
  src: url('../fonts/Metropolis-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Metropolis-Light.otf')  format('opentype'),
  url('../fonts/Metropolis-Light.woff') format('woff'),
  url('../fonts/Metropolis-Light.ttf')  format('truetype'),
  url('../fonts/Metropolis-Light.svg#Metropolis-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Metropolis-Regular';
  src: url('../fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Metropolis-Regular.otf')  format('opentype'),
  url('../fonts/Metropolis-Regular.woff') format('woff'),
  url('../fonts/Metropolis-Regular.ttf')  format('truetype'),
  url('../fonts/Metropolis-Regular.svg#Metropolis-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
